* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

/* --------- CUSTOM CSS --------- */
/* HEADER SECTION */
.navbar-toggler {
  border: 0;
  background: transparent;
}
